{% extends "user/dashbord/parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}
{% comment %} content {% endcomment %}
{% block content %}

<div class="main-content">
    <div class="main-content-inner">
      <div class="button-show-hide show-mb">
        <span class="body-1">نمایش داشبورد</span>
      </div>
      <div class="widget-box-2 mess-box">
        <h5 class="title">بررسی های اخیر</h5><ul class="list-mess">
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png13.png' %}" />
              </div>
              <div class="content justify-content-start">
                <div class="name fw-6">بسی کوپر</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گراف</p>
            <ul class="list-star">
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
            </ul>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png14.png' %}" />
              </div>
              <div class="content justify-content-start">
                <div class="name fw-6">آنت بلک</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرای</p>
            <ul class="list-star">
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
            </ul>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png15.png' %}" />
              </div>
              <div class="content justify-content-start">
                <div class="name fw-6">رالف ادواردز</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط ف</p>
            <ul class="list-star">
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
            </ul>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png16.png' %}" />
              </div>
              <div class="content justify-content-start">
                <div class="name fw-6">جروم بل</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط</p>
            <ul class="list-star">
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
            </ul>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png17.png' %}" />
              </div>
              <div class="content justify-content-start">
                <div class="name fw-6">آلبرت فلورس</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع</p>
            <ul class="list-star">
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
              <li class="icon icon-star"></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-dashboard footer-dashboard-2">
      <p>حق چاپ © 1403 توسط فرهام اقدسی</p>
    </div>
  </div>

{% endblock %}