{% extends "user/dashbord/parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}
{% block content %}

<div class="main-content">
    <div class="main-content-inner wrap-dashboard-content-2">
      <div class="button-show-hide show-mb">
        <span class="body-1">نمایش داشبورد</span>
      </div>
      <div class="widget-box-2">
        <div class="box">
          <h5 class="title">آواتار</h5>
          {% if user_profile.avatar %}
            <div class="box-agent-avt">
              <div class="avatar">
                <img alt="avatar" height="128" loading="lazy" src="{{ user_profile.avatar.url }}" width="128" />
              </div>
            </div>
            {% endif %}
        </div>

        <h5 class="title">اطلاعات</h5>
        <div class="box box-fieldset">
          {% if user_profile.full_name %}
            <label>نام کامل:<span>*</span></label>
            <input class="form-control style-1" type="text" value="{{ user_profile.full_name }}" />
          {% endif %}
        </div>
        <div class="box grid-4 gap-30 box-info-2">
          {% if user_profile.user_type %}
            <div class="box-fieldset">
              <label>نوع حساب کاربری<span>*</span></label>
              <input class="form-control style-1" type="text" value="{{ user_profile.user_type }}" />
            </div>
          {% endif %}
          {% if user_profile.email %}
            <div class="box-fieldset">
              <label>آدرس ایمیل:<span>*</span></label>
              <input class="form-control style-1" type="text" value="{{ user_profile.email }}" />
            </div>
            <div class="box-fieldset">
              <label>شماره تماس:<span>*</span></label>
              <input class="form-control style-1" type="text" value="{{ user_profile.phone_number }}" />
            </div>
          {% endif %}
          {% if user_profile.whatsapp_number %}
          <div class="box-fieldset">
            <label>شماره تماس واتساپ<span>*</span></label>
            <input class="form-control style-1" type="text" value="{{ user_profile.whatsapp_number }}" />
          </div>
        {% endif %}
        </div>
        <div class="box grid-4 gap-30 box-info-property">
          {% if user_profile.agency_name %}
          <div class="box-fieldset">
            <label>نام بنگاه<span>*</span></label>
            <input class="form-control style-1" type="text" value="{{ user_profile.agency_name }}" />
          </div>
          {% endif %}
          {% if user_profile.specialization %}
          <div class="box-fieldset">
            <label>تخصص مشاوره<span>*</span></label>
            <input class="form-control style-1" type="text" value="{{ user_profile.specialization }}" />
          </div>
          {% endif %}
        </div>
        
        <div class="box grid-4 gap-30">
          {% if user_profile.activity_areas %}
            <div class="box-fieldset">
              <label>محله های حوزه فعالیت<span>*</span></label>
              <input class="form-control style-1" type="text" value="{{ user_profile.activity_areas }}" />
            </div>
          {% endif %}
          {% if user_profile.address %}
            <div class="box-fieldset">
              <label>ادرس کامل<span>*</span></label>
              <input class="form-control style-1" type="text" value="{{ user_profile.address }}" />
            </div>
          {% endif %}
        </div>
        {% if user_profile.description %}
          <div class="box-fieldset">
            <label>توضیحات<span>*</span></label>
            <!-- <input class="form-control style-1" type="number" value="{{ user_profile.description }}" /> -->
            <textarea >{{ user_profile.description }}</textarea>
          </div>
        {% endif %}



<!-- 
        <div class="box">
          <a class="tf-btn primary" href="#">ذخیره و به روز رسانی</a>
        </div> -->
        <hr>
        <h5 class="title mt-10">رمز عبور را تغییر دهید</h5>
        <div class="box grid-3 gap-30">
          <div class="box-fieldset">
            <label>رمز قدیمی:<span>*</span></label>
            <div class="box-password">
              <input class="form-contact style-1 password-field" placeholder="رمز عبور" type="password" />
              <span class="show-pass"><i class="icon-pass icon-eye"></i> <i class="icon-pass icon-eye-off"></i></span>
            </div>
          </div>
          <div class="box-fieldset">
            <label>رمز عبور جدید:<span>*</span></label>
            <div class="box-password">
              <input class="form-contact style-1 password-field2" placeholder="رمز عبور" type="password" />
              <span class="show-pass2"><i class="icon-pass icon-eye"></i> <i class="icon-pass icon-eye-off"></i></span>
            </div>
          </div>
          <div class="box-fieldset">
            <label>تایید رمز عبور:<span>*</span></label>
            <div class="box-password">
              <input class="form-contact style-1 password-field3" placeholder="رمز عبور" type="password" />
              <span class="show-pass3"><i class="icon-pass icon-eye"></i> <i class="icon-pass icon-eye-off"></i></span>
            </div>
          </div>
        </div>

        <div class="box">
          <a class="tf-btn primary" href="#">رمز عبور را به روز کنید</a>
        </div>
      </div>
    </div>
    <div class="footer-dashboard">
      <p>حق چاپ © 1403 توسط فرهام اقدسی</p>
    </div>
  </div> 
{% endblock %}
