{% extends "parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}

<div class="widget-box-2 ">
    <div class="box">
      <h5 class="title">تنظیمات حساب</h5><div class="box-agent-account">
        <h6>حساب مشاوراملاک</h6><p class="note">نوع حساب فعلی شما روی مشاور املاک تنظیم شده است، اگر می خواهید حساب مشاور املاک خود را حذف کنید و به حساب عادی بازگردید، باید روی دکمه زیر کلیک کنید.</p><a class="tf-btn primary" href="#">حذف اکانت مشاور املاک</a>
      </div>
    </div>
    </div>
    {% endblock content %}