{% extends "parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}
<div class="layout-wrap ">
  <div class="widget-box-2 ">
    <div class="box">
      <div class="box-title-listing">
        <div class="box-left">
          <a href="home.html"> <i class="icon icon-arr-r"></i></a><h3 class="fw-8">فروش ملک</h3>
        </div>
        </div>
      <div class="box-agent-account">
        <h6>خانه خود را با اطمینان بفروشید</h6><p class="note"> آملک ، فروش خانه شما و حرکت رو به جلو  را ساده تر میکند زمانی که شما درخواست ملک خود را  در آملک ثبت کنید، آملک 
          درخواست شما را مورد بررسی قرار داده و در اختیار یکی از بهترین
          مشاورین املاک منطقه قرار میدهد  </p><a class="tf-btn primary" href="#"> ثبت درخواست</a>
      </div>
    </div>
    </div>
</div>

    {% endblock content %}