{% extends "parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}

<section class="flat-title">
    <div class="container">
        <div class="row">					  
            <div class="col-lg-12">
                <div class="title-inner">
                    <div class="title-group fs-12"><a class="home fw-6 text-color-3" href="index-2.html">خانه</a><span >ثبت درخواست</span></div>
                </div>
            </div> 
        </div>
    </div>
</section>


<section class="flat-property-detail">
    <div class="container">
        <div class="row">					  

        </div>
    </div>
    <div class="container6">
        <div class="row">					  

        </div>
    </div>
    <div class="container">
        <div class="row">					  
            <div class="col-lg-12">
                <div class="post">
                    <div class="wrap-text wrap-style">
                        <h3 class="titles">ثبت درخواست</h3>
                        <h4>ملک برای اجاره دارم</h4>
                    </div>
                    <div class="widget-tour widget-rent">
                        <div class="flat-tabs style2">
                            <div class="content-tab">
                                <div class="content-inner tab-content">
                                    <div class="comments">
                                        <div class="comment-form">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="wd-find-select">
                                                    <div class="group-select">
                                                    <h3 class="titles">نوع ملک</h3>
                                                        <select class="nice-select" name="property_type">
                                                            <option value="villa">ویلا</option>
                                                            <option value="apartment">اپارتمان</option>
                                                            <option value="commercial">تجاری</option>
                                                        </select>

                                                    </div>
                                            
                                                    <h3 class="titles">موقعیت مکانی</h3>
                                            
                                                    <fieldset class="message-wrap">
                                                        <textarea name="location" rows="4" tabindex="4" placeholder="آدرس کامل، شهر یا محله"></textarea>
                                                    </fieldset> 
                                                    <h3 class="titles">پول پیش</h3>
                                                    <div class="inner-1 form-wg flex">
                                                        <fieldset class="wg-box">
                                                            <label class="fw-6">حداکثر </label>
                                                            <input type="number" class="my-input" name="max_price" required="">
                                                        </fieldset>
                                                        <fieldset class="wg-box">
                                                            <label class="fw-6">حداقل </label>
                                                            <input type="number" class="my-input2" name="min_price" required="">
                                                        </fieldset>
                                                    </div>
                                                    <h3 class="titles">مبلغ اجاره</h3>
                                                    <div class="inner-1 form-wg flex">
                                                        <fieldset class="wg-box">
                                                            <label class="fw-6">حداکثر</label>
                                                            <input type="number" class="my-input" name="max_rent" required="">
                                                        </fieldset>
                                                        <fieldset class="wg-box">
                                                            <label class="fw-6">حداقل</label>
                                                            <input type="number" class="my-input2" name="min_rent" required="">
                                                        </fieldset>
                                                    </div>
                                                    <div class="wrap-featured wrap-style tf-amenities">
                                                        <h3 class="titles">امکانات</h3>
                                                        <div class="box-featured flex">
                                                            <div class="inner-1">
                                                                <div class="subtitle title-1 fw-6">ویژگی های فضای باز</div>
                                                                <label class="flex">
                                                                    <input name="pool" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">استخر</span> 
                                                                </label>
                                                                <label class="flex"><input name="balcony" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">بالکن</span> 
                                                                </label>
                                                                <label class="flex"><input name="closed_parking" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">پرکینگ رو بسته</span> 
                                                                </label>
                                                            </div>
                                                            <div class="inner-2">
                                                                <label class="flex"><input name="tennis_court" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">زمین تنیس</span>
                                                                </label>
                                                                <label class="flex"><input name="parking" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">پارکینگ</span> 
                                                                </label>
                                                                <label class="flex"><input name="yard" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">حیاط</span> 
                                                                </label>
                                                            </div>
                                                            <div class="inner-3">
                                                                <div class="subtitle title-1 fw-6">ویژگی های داخلی</div>
                                                                <label class="flex"><input name="suite" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">سوئیت</span> 
                                                                </label>
                                                                <label class="flex"><input name="library" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">کتابخانه</span> 
                                                                </label>
                                                                <label class="flex"><input name="alarm_system" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">سیستم هشدار</span> 
                                                                </label>
                                                            </div>
                                                            <div class="inner-4">
                                                                <label class="flex"><input name="dishwasher" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">ماشین ظرفشویی</span> 
                                                                </label>
                                                                <label class="flex"><input name="parquet" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">پارکت</span> 
                                                                </label>
                                                                <label class="flex"><input name="internet" type="checkbox" value="yes" /> 
                                                                    <span class="btn-checkbox"></span><span class="fs-13">اینترنت</span> 
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            
                                                    <h3 class="titles mt-4">توضیحات درخواست</h3>

                                                    <fieldset class="message-wrap">
                                                        <textarea name="description" rows="4" tabindex="4" placeholder=""></textarea>
                                                    </fieldset> 
                                                    {% if user.is_authenticated %}
                                                    <div class="button-box center">
                                                        <button class="sc-button btn-icon2 one btn-svg center">
                                                            ثبت درخواست
                                                        </button>
                                                        {% else %}
                                                            <p>برای ثبت درخواست باید وارد سیستم شوید.</p>
                                                        {% endif %}
                                                    </div> 
                                                </div>
                                            </form>
                                            
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="flat-sale-detail flat-sale wg-dream wg-dots tf-section">
    <div class="container">
        <div class="row">					  
            <div class="col-lg-12">
                <div class="heading-section">
                   <div class="title-heading fs-30 lh-45 fw-7">فایل‌های ویژه</div>
                    <p class="text-color-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                </div>
                <div class="swiper-container2">	
                    <div class="one-carousel owl-carousel owl-theme">
                        <div class="slide-item">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span>
                                    <span class="featured style fs-12 fw-6">برای فروش</span>
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-21.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-1.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span> 
                                    <span class="featured style fs-12 fw-6">برای فروش</span> 
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-22.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-2.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span>
                                    <span class="featured style fs-12 fw-6">برای فروش</span> 
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-23.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-3.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span>
                                    <span class="featured style fs-12 fw-6">برای فروش</span>
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-8.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-4.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span>
                                    <span class="featured style fs-12 fw-6">برای فروش</span>
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-21.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-1.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="slide-item">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span> 
                                    <span class="featured style fs-12 fw-6">برای فروش</span> 
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-22.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-2.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span>
                                    <span class="featured style fs-12 fw-6">برای فروش</span> 
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-23.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-3.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box box-dream hv-one">
                                <div class="image-group relative">
                                    <span class="featured fs-12 fw-6">ویژه</span>
                                    <span class="featured style fs-12 fw-6">برای فروش</span>
                                    <span class="icon-bookmark"><i class="far fa-bookmark"></i></span> 
                                    <div class="swiper-container noo carousel-2 img-style">	
                                        <a href="property-detail-v2.html" class="icon-plus"><i class="fa-thin fa-plus"></i></a>
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-8.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-2.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-3.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-4.jpg' %}" alt="images"></div>
                                            <div class="swiper-slide"><img src="{% static 'assets/images/house/featured-5.jpg' %}" alt="images"></div>
                                        </div>
                                        <div class="pagi2"><div class="swiper-pagination2">  </div> </div>
                                        <div class="swiper-button-next2"><i class="fal fa-arrow-right"></i></div>
                                        <div class="swiper-button-prev2"><i class="fal fa-arrow-left"></i> </div>										
                                    </div>
                                </div>
                                <div class="content">
                                    <h3 class="link-style-1"><a href="property-detail-v2.html">ساختمان آپارتمانی شیک</a> </h3>
                                    <div class="text-address"><p class="p-12">تهران، جردن، خ‌شیدا، ک‌بهار، پلاک 55</p></div>
                                    <div class="money fs-18 fw-6 text-color-3"><a href="property-detail-v2.html">750,000 تومان</a></div>  
                                    <div class="icon-box flex">
                                        <div class="icons icon-1 flex text-color-4"><span>اتاق: </span><span class="fw-6">4</span></div>
                                        <div class="icons icon-2 flex"><span>حمام: </span><span class="fw-6">2</span></div>
                                        <div class="icons icon-3 flex"><span>متراژ: </span><span class="fw-6">1150 متر</span></div>
                                    </div>   
                                    <div class="days-box flex justify-space align-center">
                                        <a class="compare flex align-center fw-6" href="#">مقایسه</a>
                                        <div class="img-author hv-tool" data-tooltip="علیرضا هاشمی"><img src="{% static 'assets/images/author/author-4.jpg' %}" alt="images"></div>
                                        <div class="days">3 سال پیش</div>
                                    </div>										   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}