{% extends "user/dashbord/parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}    
{% block content %}
<div class="main-content">
    <div class="main-content-inner">
        <form id="property-form" method="post" action="{% url 'authentication:addproperty' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="button-show-hide show-mb"><span class="body-1">نمایش داشبورد</span></div>
            <div class="widget-box-2 mb-20">
                <h5 class="title">اطلاعات</h5>
                <div class="box-info-property">
                    <fieldset class="box box-fieldset">
                        <label>عنوان:<span>*</span></label>
                        <input class="form-control" name="title" placeholder="انتخاب کردن" type="text" required>
                    </fieldset>
                    <div class="box grid-3 gap-30">
                        <fieldset class="box-fieldset">
                            <label>نوع ملک:<span>*</span></label>
                            <select class="form-control" name="property_type" required>
                                <option value="" disabled selected>انتخاب کنید</option>
                                <option value="apartment">آپارتمان</option>
                                <option value="villa">ویلا</option>
                                <option value="land">زمین</option>
                            </select>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label>کابری ملک<span>*</span></label>
                            <select class="form-control" name="useproperty" required>
                                <option value="" disabled selected>انتخاب کنید</option>
                                <option value="administrative">اداری</option>
                                <option value="commercial">تجاری</option>
                                <option value="residential">مسکونی</option>
                            </select>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label>نوع آگهی<span>*</span></label>
                            <select class="form-control type_" tabindex="0" name="ad_type" required>
                                <option value="" disabled selected>انتخاب کنید</option>
                                <option value="PURCHASE">خرید</option>
                                <option value="SALE">فروش</option>
                                <option value="LEASE">رهن</option>
                                <option value="RENT">اجاره</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="box grid-3 gap-30">
                        <fieldset class="box-fieldset">
                            <label>شهر/شهرستان:<span>*</span></label>
                            <input class="form-control" name="city" placeholder="شهر خود را وارد کنید" type="text" required>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label>کد پستی:<span>*</span></label>
                            <input class="form-control" name="postalcode" placeholder="کد پستی املاک را وارد کنید" type="text" required>
                        </fieldset>
                    </div>
                    <div class="box box-fieldset">
                        <label>آدرس کامل:<span>*</span></label>
                        <input id="location-input" name="location" class="form-control" type="text" required>
                    </div>
                </div>
            </div>    
            <!-- قیمت -->
            <div class="widget-box-2 mb-20">
                <h5 class="title">قیمت</h5>
                <div class="box-price-property">
                    <div id="additional-fields"></div>
                </div>
            </div>

            <!-- اطلاعات تکمیلی -->
            <div class="widget-box-2 mb-20">
                <h5 class="title">اطلاعات تکمیلی</h5>
                <div class="box grid-3 gap-30">
                    <fieldset class="box-fieldset">
                        <label>اندازه (متر مربع):<span>*</span></label>
                        <input class="form-control" name="area" type="text" required>
                    </fieldset>
                    <fieldset class="box-fieldset">
                        <label>اتاق‌ها:<span>*</span></label>
                        <input class="form-control" name="num_bedrooms" type="text" required>
                    </fieldset>
                    <fieldset class="box-fieldset">
                        <label>سال ساخت:<span>*</span></label>
                        <input name="construction_year" class="form-control" type="text" required>
                    </fieldset>
                </div>
            </div>

            <!-- امکانات رفاهی -->
            <div class="widget-box-2 mb-20">
                <h5 class="title">امکانات رفاهی<span>*</span></h5>
                <fieldset class="box box-fieldset">
                    <label>توضیحات:</label>
                    <textarea class="textarea" name="description" placeholder="توضیحات شما"></textarea>
                </fieldset>
            </div>

            <button type="submit" class="btn btn-submit">ثبت ملک</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const adTypeSelector = document.querySelector('.type_');
        const additionalFieldsContainer = document.getElementById('additional-fields');

        adTypeSelector.addEventListener('change', function () {
            const selectedAdType = adTypeSelector.value;
            additionalFieldsContainer.innerHTML = '';

            if (selectedAdType === 'PURCHASE' || selectedAdType === 'SALE') {
                additionalFieldsContainer.innerHTML = `
                    <fieldset class="box-fieldset">
                        <label>حداقل قیمت:<span>*</span></label>
                        <input class="form-control" type="text" name="price_min" placeholder="مقدار مثال: 10000">
                    </fieldset>
                    <fieldset class="box-fieldset">
                        <label>حداکثر قیمت:<span>*</span></label>
                        <input class="form-control" type="text" name="price_max" placeholder="مقدار مثال: 50000">
                    </fieldset>
                `;
            } else if (selectedAdType === 'RENT') {
                additionalFieldsContainer.innerHTML = `
                    <fieldset class="box-fieldset">
                        <label>پول پیش:<span>*</span></label>
                        <input class="form-control" type="text" name="deposit" placeholder="مقدار مثال: 100000">
                    </fieldset>
                    <fieldset class="box-fieldset">
                        <label>قیمت اجاره ماهانه:<span>*</span></label>
                        <input class="form-control" type="text" name="rent" placeholder="مقدار مثال: 1500">
                    </fieldset>
                `;
            } else if (selectedAdType === 'LEASE') {
                additionalFieldsContainer.innerHTML = `
                    <fieldset class="box-fieldset">
                        <label>پول رهن:<span>*</span></label>
                        <input class="form-control" type="text" name="rent" placeholder="مقدار مثال: 200000">
                    </fieldset>
                `;
            }
        });
    });
</script>
{% endblock content %}
