{% extends "user/dashbord/parent/base.html" %}
{% load static %}
{% block title %}amelk{% endblock title %}
{% comment %} content {% endcomment %}
{% block content %}

<div class="main-content">
    <div class="main-content-inner">
      <div class="button-show-hide show-mb">
        <span class="body-1">نمایش داشبورد</span>
      </div>
      <div class="widget-box-2 mess-box">
        <h5 class="title">پیام</h5><ul class="list-mess">
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png9.png' %}" />
              </div>
              <div class="content">
                <div class="name fw-6">مضراب</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و بر</p>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png10.png' %}" />
              </div>
              <div class="content">
                <div class="name fw-6">ThemeMu</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png11.png' %}" />
              </div>
              <div class="content">
                <div class="name fw-6">کامرون ویلیامسون</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
          </li>
          <li class="mess-item">
            <div class="user-box">
              <div class="avatar">
                <img alt="avt" src="{% static 'images/avatar/avt-png12.png' %}" />
              </div>
              <div class="content">
                <div class="name fw-6">استر هوارد</div><span class="caption-2 text-variant-3">3 روز پیش</span>
              </div>
            </div>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-dashboard footer-dashboard-2">
      <p>حق چاپ © 1403 توسط فرهام اقدسی</p>
    </div>
  </div>
{% endblock %}